[Unit]
Description=V2bZ Service
After=network.target nss-lookup.target
Wants=network.target

[Service]
User=root
Group=root
Type=simple
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=999999
WorkingDirectory=/usr/local/V2bZ/
ExecStart=/usr/local/V2bZ/V2bZ server --config /etc/V2bZ/config.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
